@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

:root {
    --primary-color:#03045E;
    --dark-gray: #6B7280;
    --off-white: #F3F4F6;
}

body{
    background-color: var(--off-white);
    font-family: 'Concert One', cursive;
    color: var(--off-white);
}

.centered-container{
    
    width: 30em;
    max-width: 100%;
    background-color: var(--primary-color);
    overflow: hidden;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    height: 100%;
    display: block;
    justify-content: center;
    box-shadow: 0 4px 8px 0 var(--dark-gray);
    margin: 20px auto;
    align-items: center;
    border: 2px solid var(--primary-color);
}

label{
    display: block;
    margin-bottom: 0.5;
    font-weight: bold;
    padding: 0.5rem;
   
}

input{

    width: 45%;
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    
}

.output{
    width: 45%;
    padding: 1rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    margin: auto;
}

#outputGIF{
    width: 400px;
    padding: 1rem;
    display: block;
    margin: auto;  
    height: 30vh;
    background-repeat: no-repeat;
    display: none;
    
}

#outputGIF img{
    max-width: 100%;
    max-height: 100%;
}


.form{

    margin: auto;
    text-align: center;
    background-color: var(--primary-color);   
    border-radius: 0.3rem;
    padding: 1.5rem 1rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    
}

.button{
    
    max-width: 90%;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
    border: 1px solid var(--primary-color);
    padding: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
    display: inline-block;
}


.button:hover{
    background-color: white;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    font-weight: bold;

}



.footer{
    background-color: var(--primary-color);   
    border-radius: 0.3rem;
    padding: 1.5rem 0rem;
    box-shadow: 0px 0px 5px 0px var(--off-white);
    text-align: center;
    max-width: 100%;
    width: 30em;
   
}

.list-footer{
    display: flex;
    justify-content: center;
    list-style: none;
}

.list-item{
    margin: 0.5rem;
    padding: 0 1.5rem;
}

.list-link{
    text-decoration: none;
    color: white;
}


.fa{
    font-size: 1.1rem;
}
